<div data-ng-controller="ClientListController">
    <div class="clients">
        <div class="client" data-client-id="{{ client.id }}" data-ng-repeat="client in clients">
            <div class="client-menu">
                <a class="client-edit icon">e</a>
                <a class="client-delete icon">d</a>
            </div>
            <div class="client-name"><h3><a href="{{ 'client_detail'|route:{clientId: client.id} }}">{{ client.name }}</a></h3></div>
            <div class="client-contacts" data-ng-bind-html="client.contacts|nl2br|linkify"></div>
            <div class="client-projects" data-ng-if="client.projects.length > 0">
                <ul>
                    <li data-ng-repeat="project in client.projects">
                        <a href="{{ 'project_detail'|route:{projectId: project.id} }}" title="Project">{{ project.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a class="client-add icon" title="Add client">+</a>
</div>
