.report-range {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.set-period {
    margin-top: 5px;
    width: 100px;
}

.report {
    margin-bottom: 20px;
    text-align: left;
}

.report tr:last-child {
    font-weight: bold;
}

.calculator-form fieldset {
    font-size: 1.2em;
    padding: 10px 0;
}

.calculator-form .price {
    border-radius: 4px 0 0 4px !important;
    width: 80px;
}

.calculator-form .result {
    border-radius: 0 4px 4px 0 !important;
    display: inline-block;
    width: 250px;
}
