.task {
    border: 3px solid #D9E6F1;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
}

.task-menu {
    float: right;
    line-height: 1.68em;
}

.task-description {
    color: #999;
}

.task-status-menu {
    background-color: white;
    border: 2px solid #D9E6F1;
    border-radius: 5px;
    margin-top: 1.2em;
    margin-left: -7px;
    padding: 5px;
    position: absolute;
}

.task-status-menu a {
    display: block;
}

.task-add-time-entry {
    margin-left: 5px;
}

.task-time-entries ul {
    color: #3B6180;
    list-style-position: inside;
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.time-entry-amount {
    display: inline-block;
}

.task-add {
    display: block;
}

.popup.task-form-popup .ngdialog-content {
    width: 700px;
}

.time-entry-form input[name="hours"],
.time-entry-form input[name="minutes"] {
    display: inline-block;
    vertical-align: middle;
    width: 43%;
    margin-right: 2%;
}

.amount-increment {
    display: inline-block;
    margin: 4px 0;
    vertical-align: middle;
    width: 10%;
}
