<!DOCTYPE html>
<html>
    <head>
        <title ng-bind="'Airy :: ' + title">Airy</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <% css.forEach(function (filename) { %><link rel="stylesheet" href="<%-filename%>">
        <% }); %>
    </head>
    <body>
        <div class="container">
            <airy-header></airy-header>
            <div class="content" ui-view></div>
        </div>
        <% js.forEach(function (filename) { %><script src="<%-filename%>"></script>
        <% }); %>
        <script>
            System.config({
                baseURL: 'js',
            });
            System.import('app.module.js');
        </script>
    </body>
</html>
