{
    "presets": [
        [
            "@babel/preset-env",
            {
                modules: "systemjs"
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}

