SECRET_KEY=1234567890
DEBUG = False

HTTP_HOST=localhost
HTTP_PORT=8085

DB_HOST=localhost
DB_PORT=5432
DB_NAME=airy
DB_USERNAME=airy
DB_PASSWORD=airy

TIMEZONE=Europe/Moscow

SMTP_SERVER=example.com
SMTP_PORT=2525
SMTP_USER=username@example.com
SMTP_PASSWORD=1234567890
SMTP_SENDER=no-reply@example.com

USER_NAME=username
USER_PASSWORD=password
USER_EMAIL=username@example.com
