<ul class="user-info" ng-if="$ctrl.user.name">
  <li>user: <span class="user-name">{{ $ctrl.user.name }}</span></li> |
  <li>open tasks: <span class="user-open-tasks">{{ $ctrl.user.open_tasks }}</span></li> |
  <li>time spent today: <span class="user-total-today">{{ $ctrl.user.total_today|time }}</span></li> |
  <li>this week: <span class="user-total-week">{{ $ctrl.user.total_week|time }}</span></li> |
  <li><a ng-click="$ctrl.logoutUser()">logout</a></li>
</ul>
<nav ng-if="$ctrl.user.name">
  <ul class="breadcrumbs">
    <li ng-repeat="step in $ctrl.breadcrumbs.steps" ng-class="{active: $last}" ng-switch="$last">
        <a ng-switch-when="false" ng-class="{icon: $first}" ng-href="{{ step.url }}">{{ step.label }}</a>
        <span ng-switch-when="false" class="separator icon">b</span>
        <span ng-switch-when="true" ng-class="{icon: $first}">{{ step.label }}</span>
    </li>
  </ul>
</nav>
