@import '../colors';

.user-info {
    color: $secondary-color;
    margin-top: 20px;

    li {
        display: inline-block;
        padding: 0 5px;
    }
}

.breadcrumbs {
    font-size: 1.2em;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;

    li {
        display: inline-block;

        a,
        span {
            display: inline-block;
            padding: 5px;
        }
    }

    .separator {
        color: $secondary-color;
    }
}
