.report-range {
    font-size: 0.8em;
    margin-bottom: 20px;

    report-range-selector {
        display: block;
    }
}

.set-period {
    margin-top: 5px;
    width: 100px;
}

.report {
    margin-bottom: 20px;
    text-align: left;
}

.report-section-header {
    background-color: #F5F5F5;
    font-weight: bold;
}

.report-total {
    font-weight: bold;
}
