<html>
{# common styles #}
<style type="text/css">
    .header {
        font-size: large;
        font-weight: bold;
    }
    table {
        border: 1px solid #CBCBCB;
    }
    thead {
        background-color: #E0E0E0;
    }
    td, th {
        border-color: #CBCBCB;
        border-style: solid;
        border-width: 0px 1px 1px 0px;
        padding: 4px 8px;
    }
    .section-header {
        background-color: #F5F5F5;
        font-weight: bold;
    }
    .total {
        font-weight: bold;
    }
</style>
{% block content %}{% endblock %}
</html>
