{% extends 'email/base.html' %}

{% block content %}
<p class="header">
    {{ date_range.beg.strftime('%d %b %Y') }} — {{ date_range.end.strftime('%d %b %Y') }}
</p>
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Time spent</th>
        </tr>
    </thead>
    <tbody>
        {% for row in tasks %}
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.amount|time }}</td>
        </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td>{{ total|time }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
