{% extends 'email/base.html' %}

{% block content %}
<p class="header">
    {{ date_range.beg.strftime('%d %b %Y') }} — {{ date_range.end.strftime('%d %b %Y') }}
</p>

{% set days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}
<table>
    <thead>
        <tr>
            <th>Project</th>
            {% for day in days %}
                <th>{{ day }}</th>
            {% endfor %}
            <th>Total time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in projects %}
        <tr>
            <td>{{ row.project.name }}</td>
            {% for day_data in row.time %}
                <td>{{ day_data.total|time }}</td>
            {% endfor %}
            <td>{{ row.total|time }}</td>
        </tr>
        {% endfor %}
        <tr class="total">
            <td>&nbsp;</td>
            {% for day_total in totals.time %}
                <td>{{ day_total|time }}</td>
            {% endfor %}
            <td>{{ totals.total|time }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
