<form class="task-form pure-form pure-form-stacked" autocomplete="off">
    <fieldset>
        <legend>{{ ctrl.formTitle }}</legend>
        <input type="text" name="title" placeholder="Title" ng-model="ctrl.task.title" auto-focus>
        <input type="text" name="url" placeholder="URL"
               ng-model="ctrl.task.url">
        <textarea name="description" placeholder="Description" ng-model="ctrl.task.description" auto-size></textarea>
        <button type="submit" class="pure-button pure-button-primary" ng-click="ctrl.submitForm()">Save</button>
    </fieldset>
</form>
