.time-entry-form input[name="hours"],
.time-entry-form input[name="minutes"] {
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle;
    width: 43%;
}

.amount-increment {
    display: inline-block;
    margin: 4px 0;
    padding: 0.5em 0;
    vertical-align: middle;
    width: 10%;
}
