@import 'colors';

.task {
    border: 3px solid $main-color;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
}

.task-menu {
    float: right;
    line-height: 1.68em;
}

.task-status {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
}

.task-description {
    color: $secondary-color;
}

.task-add-time-entry {
    margin-left: 5px;
}

.task-time-entries ul {
    color: $link-color;
    list-style-position: inside;
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.time-entry-amount {
    display: inline-block;
}

.task-add {
    display: block;
}

.popup.task-form-popup .ngdialog-content {
    width: 700px;
}

.time-entry-form input[name="hours"],
.time-entry-form input[name="minutes"] {
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle;
    width: 43%;
}

.amount-increment {
    display: inline-block;
    margin: 4px 0;
    padding: 0.5em 0;
    vertical-align: middle;
    width: 10%;
}
