<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/pure-base-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/pure-forms-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/pure-buttons-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        {% block css %}{% endblock %}
        <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/jquery.autosize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/common.js') }}"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header><h1>Airy</h1></header>
            {% if user %}
            <nav>
                <ul class="main-menu">
                    <li><a href="/clients">Clients</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            {% endif %}
            {% block content %}{% endblock %}
            <footer></footer>
        </div>
    </body>
</html>
