{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clients.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='lib/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/clients.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="clients">
        {% for client in clients %}
        {% include "client.html" %}
        {% endfor %}
    </div>
    <a class="client-add">+</a>
    <div class="client-form-popup">
        <form class="client-form pure-form pure-form-stacked" autocomplete="off">
            <fieldset>
                <legend></legend>
                <input type="text" name="name" placeholder="Name">
                <textarea name="contacts" placeholder="Contacts"></textarea>
                <button type="submit" class="pure-button pure-button-primary">Save</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
