{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clients.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/clients.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="clients">
        {% for client in clients %}
        {% include "units/client.html" %}
        {% endfor %}
    </div>
    <a class="client-add" title="Add client">+</a>
    <div class="popup client-form-template">
        {% include "units/client_form.html" %}
    </div>
</div>
{% endblock %}
