<!DOCTYPE html>
<html data-ng-app="airyApp">
    <head>
        <title data-ng-bind="'Airy :: ' + title">Airy</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/pure-base-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/pure-forms-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/pure-buttons-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/ngdialog.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/clients.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/angular.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/angular-route.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/angular-named-routes.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/angular-sanitize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/angular-linkify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/ngdialog.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/angular-hotkeys.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/angular-elastic.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/directives.js') }}"></script>
        <script src="{{ url_for('static', filename='js/filters.js') }}"></script>
        <script src="{{ url_for('static', filename='js/services.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <header data-airy-header></header>
            <div class="content" data-ng-view></div>
            <footer data-airy-footer></footer>
        </div>
    </body>
</html>
