<!DOCTYPE html>
<html>
    <head>
        <title ng-bind="'Airy :: ' + title">Airy</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        {% for filename in assets.css %}
            <link rel="stylesheet" href="{{ url_for('static', filename=filename) }}">
        {% endfor %}
    </head>
    <body>
        <div class="container">
            <header airy-header></header>
            <div class="content" ui-view></div>
            <footer airy-footer></footer>
        </div>
        {% for filename in assets.js %}
            <script src="{{ url_for('static', filename=filename) }}"></script>
        {% endfor %}
        <script>
            System.config({
                baseURL: 'static/js',
            });
            System.import('app.module.js');
        </script>
    </body>
</html>
