{% extends "base.html" %}

{% block title %}
<title data-ng-bind="'Airy :: ' + title">Airy</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/ngdialog.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clients.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='lib/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-route.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-named-routes.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-linkify.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/ngdialog.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-hotkeys.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-elastic.js') }}"></script>
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
<script src="{{ url_for('static', filename='js/directives.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
{% endblock %}

{% block content %}
<header data-airy-header></header>
<div class="content" data-ng-view></div>
<footer data-airy-footer></footer>
{% endblock %}
