{% extends "base.html" %}

{% block title %}{{ client.name }} - Projects{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="current-client" data-client-id="{{ client.id }}"><h2>Client: {{ client.name }}</h2></div>
    <div class="projects">
        {% for project in client.projects %}
        {% include "units/project.html" %}
        {% endfor %}
    </div>
    <a class="project-add" title="Add project">+</a>
    <div class="popup project-form-template">
        {% include "units/project_form.html" %}
    </div>
</div>
{% endblock %}
