{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <table class="reports" align="center">
        <tr>
            <th>Project</th>
            <th>Created</th>
            <th>Total time</th>
        </tr>
        {% for report in reports %}
        <tr>
            <td><a href="{{ url_for('tasks', project_id=report.project.id) }}">{{ report.project.name }}</a></td>
            <td>{{ report.created|dtformat('date') }}</td>
            <td>{{ report.total_time }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
