{% extends "base.html" %}

{% block title %}{{ project.name }} - Tasks{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="current-project" data-project-id="{{ project.id }}">
        <h2>Tasks from {{ project.name }}</h2>
    </div>
    <a class="content-nav-link" href="{{ url_for('project_report', project_id=project.id) }}">view report</a>
    {% if closed %}
        <a class="content-nav-link" href="{{ url_for('tasks', project_id=project.id) }}">view active tasks</a>
    {% else %}
        <a class="content-nav-link" href="{{ url_for('closed_tasks', project_id=project.id) }}">view closed tasks</a>
    {% endif %}
    <div class="tasks">
        {% for task in project.selected_tasks(closed=closed) %}
        {% include "units/task.html" %}
        {% endfor %}
    </div>
    <a class="task-add icon" title="Add task">+</a>
</div>
{% endblock %}
