<div class="task task-{{ task.status }}" data-task-id="{{ task.id }}">
    <div class="task-title">{{ task.title }}</div>
    <div class="task-created">{{ task.created.strftime("%d.%m.%Y") }}</div>
    <div class="task-description">{{ task.description|nl2br }}</div>
    <div class="task-status">Status: <a>{{ task.status }}</a></div>
    <div class="task-spent-time">Spent time: <a>{{ task.spent_time }}</a></div>
    <div class="task-time-entries">
        {% for time_entry in task.time_entries %}
            {% include "time_entry.html" %}
        {% endfor %}
    </div>
    <div class="task-menu">
        <a class="task-edit">edit</a>
        <a class="task-delete">delete</a>
        <a class="task-add-time-entry">add time entry</a>
    </div>
</div>
