{% extends "base.html" %}

{% block title %}{{ project.name }} - Tasks{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="current-project" data-project-id="{{ project.id }}"><h2>Project: {{ project.name }}</h2></div>
    <div class="tasks">
        {% for task in project.tasks %}
        {% include "units/task.html" %}
        {% endfor %}
    </div>
    <a class="task-add icon" title="Add task">+</a>
</div>
{% endblock %}
