@import 'colors';

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icons.woff?51151210') format('woff');
}

.icon {
    font-family: 'icons';
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}

a.icon {
    color: $icon-color;
}

a.icon:hover {
    color: $link-hover-color;
}

textarea {
    resize: none;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 5px 0;
}

h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
    width: 100%;
}

.content-nav {
    color: $secondary-color;
    margin-bottom: 10px;

    a {
        display: inline-block;
        padding: 0 5px;
    }
}
