<div class="client" data-client-id="{{ client.id }}">
    <div class="client-menu">
        <a class="client-edit icon">e</a>
        <a class="client-delete icon">d</a>
    </div>
    <div class="client-name"><h3><a href="/client/{{ client.id }}/projects">{{ client.name }}</a></h3></div>
    <div class="client-contacts">{{ client.contacts|nl2br|linkify }}</div>
    {% if client.projects %}
    <div class="client-projects"><ul>
        {% for project in client.projects %}
            <li><a href="/project/{{ project.id }}/tasks" title="Project">{{ project.name }}</a></li>
        {% endfor %}
    </ul></div>
    {% endif %}
</div>
