<div class="project" data-project-id="{{ project.id }}">
    <div class="project-menu">
        <a class="project-edit icon">e</a>
        <a class="project-delete icon">d</a>
    </div>
    <div class="project-name"><h3><a href="{{ url_for('tasks', project_id=project.id) }}">{{ project.name }}</a></h3></div>
    <div class="project-description">{{ project.description|nl2br|linkify }}</div>
    {% if project.last_task %}
    <div class="project-last-task">Last task:
        <a href="{{ url_for('tasks', project_id=project.id) }}#task-{{ project.last_task.id }}">{{ project.last_task.title }}</a>
    </div>
    {% endif %}
</div>
