<form class="task-form pure-form pure-form-stacked" autocomplete="off" data-task-id="{{ task.id }}">
    <fieldset>
        <legend>{% if task.id == 0 %}New task{% else %}Task #{{ task.id }}{% endif %}</legend>
        <input type="text" name="title" placeholder="Title" value="{{ task.title or '' }}">
        <textarea name="description" placeholder="Description">{{ task.description or '' }}</textarea>
        <button type="submit" class="pure-button pure-button-primary">Save</button>
    </fieldset>
    <div class="form-message"></div>
</form>
