<div class="task task-{{ task.status }}" data-task-id="{{ task.id }}">
    <div class="task-menu">
        <a class="task-edit icon" title="Edit task">e</a>
        <a class="task-delete icon" title="Delete task">d</a>
    </div>
    <div class="task-title"><h3><a id="task-{{ task.id }}">{{ task.title }}</a></h3></div>
    <div class="task-created">Created: {{ task.created.strftime("%d.%m.%Y %H:%M") }}</div>
    <div class="task-updated">Updated: {{ task.updated.strftime("%d.%m.%Y %H:%M") }}</div>
    <div class="task-description">{{ task.description|nl2br|linkify }}</div>
    <div class="task-status">Status: <a>{{ task.status }}</a></div>
    <div class="task-spent-time">Spent time: <a>{{ task.spent_time }}</a> hours</div>
    <div class="task-time-entries"><ul>
        {% for time_entry in task.time_entries %}
            {% include "units/time_entry.html" %}
        {% endfor %}
    </ul></div>
    <a class="task-add-time-entry">add time</a>
</div>
