<div>
    <div class="current-client">
        <h2>Projects from {{ client.name }}</h2>
        <div class="client-contacts" data-ng-bind-html="client.contacts|nl2br|linkify"></div>
    </div>
    <a class="content-nav-link" ui-sref="client_timesheet({clientId: client.id})">view timesheet</a>
    <a class="content-nav-link" ui-sref="client_report({clientId: client.id})">view task report</a>
    <div class="projects" >
        <div class="project" data-ng-repeat="project in client.projects">
            <div class="project-menu">
                <a class="project-edit icon" data-ng-click="showProjectForm(project)">e</a>
                <a class="project-delete icon" data-ng-click="deleteProject(project)">d</a>
            </div>
            <div class="project-name"><h3><a ui-sref="project_detail({clientId: client.id, projectId: project.id})">{{ project.name }}</a></h3></div>
            <div class="project-description" data-ng-bind-html="project.description|nl2br|linkify"></div>
            <div class="project-last-task" data-ng-if="project.last_task">Last task:
                <a ui-sref="project_detail({clientId: client.id, projectId: project.id})">{{ project.last_task.title }}</a>
            </div>
        </div>
    </div>
    <a class="project-add icon" title="Add project" data-ng-click="showProjectForm({})">+</a>
</div>
