<form class="client-form pure-form pure-form-stacked" autocomplete="off">
    <fieldset>
        <legend>{{ !client.id ? 'New client' : 'Client #' + client.id }}</legend>
        <input type="text" name="name" placeholder="Name" data-ng-model="client.name" data-auto-focus>
        <textarea name="contacts" placeholder="Contacts" data-ng-model="client.contacts" data-msd-elastic="\n"></textarea>
        <button type="submit" class="pure-button pure-button-primary" data-ng-click="submitForm()">Save</button>
    </fieldset>
    <div class="form-message" data-ng-show="errorMessage">{{ errorMessage }}</div>
</form>
