<div data-ng-controller="ProjectDetailController">
    <div class="current-project">
        <h2>Tasks from {{ project.name }}</h2>
    </div>
    <a class="content-nav-link" ui-sref="project_report({projectId: project.id})">view report</a>
    <a class="content-nav-link" data-ng-show="currentStatus == 'closed'" data-ng-click="filterByStatus('active')">view active tasks</a>
    <a class="content-nav-link" data-ng-show="currentStatus == 'active'" data-ng-click="filterByStatus('closed')">view closed tasks</a>
    <div class="tasks">
        <div class="task task-{{ task.status }}" data-ng-repeat="task in project.tasks">
            <div class="task-menu">
                <a class="task-edit icon" title="Edit task" data-ng-click="showTaskForm(task)">e</a>
                <a class="task-delete icon" title="Delete task" data-ng-click="deleteTask(task)">d</a>
            </div>
            <div class="task-title"><h3><a id="task-{{ task.id }}" data-ng-click="task.detailsVisible = !task.detailsVisible">{{ task.title }}</a></h3></div>
            <div class="task-created" data-ng-show="task.detailsVisible">Created at: {{ task.created_at|date:'dd.MM.yy HH:mm' }}</div>
            <div class="task-updated" data-ng-show="task.detailsVisible">Updated at: {{ task.updated_at|date:'dd.MM.yy HH:mm' }}</div>
            <div class="task-description" data-ng-bind-html="task.description|nl2br|linkify"></div>
            <div class="task-status">
                Status: <span data-task-status-widget data-task="task" data-set="setTaskStatus"></span>
            </div>
            <div class="task-spent-time">
                <span>Time spent: <a class="task-total-time" title="Show details" data-ng-click="task.timeEntriesVisible = !task.timeEntriesVisible">{{ task.total_time|time }}</a></span>
                <a class="task-add-time-entry icon" title="Add time" data-ng-click="showTimeEntryForm(task, {})">+</a>
                <a class="task-toggle-timer icon" title="Toggle timer" data-ng-click="toggleTimer(task)">t</a>
                <sup class="task-timer" data-ng-show="task.timerData">{{ task.timerData.amount|number:4 }}</sup>
            </div>
            <div class="task-time-entries" data-ng-show="task.timeEntriesVisible"><ul>
                <li class="time-entry" data-ng-repeat="timeEntry in task.time_entries" data-ng-mouseenter="timeEntry.deleteIconVisible = true" data-ng-mouseleave="timeEntry.deleteIconVisible = false">
                    <a class="time-entry-amount" title="{{ timeEntry.added_at|date:'dd.MM.yy HH:mm' }}" data-ng-click="showTimeEntryForm(task, timeEntry)">{{ timeEntry.amount|time }}</a>
                    <span data-ng-if="timeEntry.comment">
                        — <a class="time-entry-comment" title="{{ timeEntry.added_at|date:'dd.MM.yy HH:mm' }}" data-ng-click="showTimeEntryForm(task, timeEntry)">{{ timeEntry.comment }}</a>
                    </span>
                    <a class="time-entry-delete icon" data-ng-show="timeEntry.deleteIconVisible" data-ng-click="deleteTimeEntry(task, timeEntry)">d</a>
                </li>
            </ul></div>
        </div>
    </div>
    <a class="task-add icon" title="Add task" data-ng-click="showTaskForm({})">+</a>
</div>
