<div data-ng-controller="ProjectReportController">
    <div class="current-project" data-project-id="{{ report.project.id }}">
        <h2>Report on tasks for {{ report.project.name }}</h2>
    </div>
    <div class="report-range" week-selector week-beg="weekBeg"></div>
    <table class="pure-table pure-table-horizontal report" align="center">
        <thead>
            <tr>
                <th>Task</th>
                <th>Time spent</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="task in report.tasks">
                <td>{{ task.title }}</td>
                <td>{{ task.amount|time }}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td><a ng-click="showCalculator(report.total)">{{ report.total|time }}</a></td>
            </tr>
        </tbody>
    </table>
    <a class="content-nav-link" ng-click="sendByEmail()">send by email</a>
    <a class="content-nav-link" ui-sref="project_detail({projectId: report.project.id})">back to list of tasks</a>
</div>
