<div data-ng-controller="ReportListController">
    <table class="reports" align="center">
        <tr>
            <th>Project</th>
            <th>Created at</th>
            <th>Total time</th>
        </tr>
        <tr data-ng-repeat="report in reports">
            <td><a ui-sref="project_detail({projectId: report.project.id})">{{ report.project.name }}</a></td>
            <td>{{ report.created_at|date:'dd.MM.yy' }}</td>
            <td>{{ report.total_time }}</td>
        </tr>
    </table>
</div>
