<div>
    <div class="current-client">
        <h2>Timesheet for {{ timesheet.client.name }}</h2>
    </div>
    <div class="report-range" range-selector range="range"></div>
    <table class="pure-table pure-table-horizontal report" align="center">
        <thead>
            <tr>
                <th>Project</th>
                <th ng-repeat="day in days">{{ day }}</th>
                <th>Total time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in timesheet.projects">
                <td><a ui-sref="project_detail({clientId: client.id, projectId: row.project.id})">{{ row.project.name }}</a></td>
                <td ng-repeat="day_data in row.time" title="{{ day_data.tasks }}">{{ day_data.amount|time }}</td>
                <td>{{ row.total|time }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td ng-repeat="day_total in timesheet.totals.time track by $index">{{ day_total|time }}</td>
                <td><a ng-click="showCalculator(timesheet.totals.total)">{{ timesheet.totals.total|time }}</a></td>
            </tr>
        </tbody>
    </table>
    <a class="content-nav-link" ng-click="sendByEmail()">send by email</a>
    <a class="content-nav-link" ui-sref="client_detail({clientId: client.id})">back to client page</a>
</div>
