.client {
    border: 3px solid #D9E6F1;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
}

.client-menu {
    float: right;
    line-height: 1.68em;
}

.client-contacts {
    color: #999;
    margin-bottom: 5px;
}

.client-projects {
    border-top: 2px dotted #D9E6F1;
}

.client-projects li {
    padding: 3px;
    margin: 0 -3px;
}

.client-add {
    display: block;
}

.client-form-template {
    display: none;
}
