@font-face {
    font-family: 'icons';
    src: url('../font/icons.eot?74219010');
    src: url('../font/icons.eot?74219010#iefix') format('embedded-opentype'),
        url('../font/icons.woff?74219010') format('woff'),
        url('../font/icons.ttf?74219010') format('truetype'),
        url('../font/icons.svg?74219010#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icons';
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

a {
    color: #3B6180;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #5693C5;
}

a.icon {
    color: #7DA4C4;
}

a.icon:hover {
    color: #5693C5;
}

textarea {
    resize: none;
}

h1 {
    color: #273E51;
    margin: 0;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 5px 0;
}

h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
    width: 100%;
}

.main-menu {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    border-radius: 5px;
    display: block;
    padding: 5px;
}

.main-menu a:hover {
    background-color: #F0F6FA;
}

.content-nav-link {
    display: block;
    margin: 5px 0;
}

footer {
    color: #999;
    margin-top: 20px;
}

.popup {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    position: relative;
    width: auto;
}

.alert,
.confirm {
    padding: 20px 10px;
    text-align: center;
}

.alert button,
.confirm button {
    margin-top: 10px;
}

.popup form {
    padding: 10px 10%;
    text-align: center;
}

.popup input,
.popup textarea {
    width: 100%;
}

.form-message {
    color: red;
}
