.current-client {
    font-size: 1.4em;
    font-weight: bold;
}

.project {
    background-color: #E6F0F8;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
}

.project-name {
    font-size: 1.6em;
}

.project-name a {
    text-decoration: none;
}

.project-description {
    color: #999;
}

.project-add {
    border-radius: 5px;
    display: block;
    font-size: 1.4em;
}

.project-add:hover {
    background-color: #E6F0F8;
}

.project-form {
    padding: 10px 10%;
    text-align: center;
}

.project-form input,
.project-form textarea {
    width: 100%;
}

.project-form-popup {
    display: none;
}
