.project {
    border: 3px solid #D9E6F1;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
}

.project-menu {
    float: right;
    line-height: 1.68em;
}

.project-description {
    color: #999;
    margin-bottom: 5px;
}

.project-last-task {
    border-top: 2px dotted #D9E6F1;
}

.project-add {
    display: block;
}
