.report-range {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.report {
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
}

.report th,
.report td {
    padding: 5px 10px;
}

.report tr:last-child {
    font-weight: bold;
}

.project-tasks {
    display: block;
}
