.task {
    background-color: #E6F0F8;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
}

.task-created {
    color: #999;
}

.task-status-menu {
    background-color: #E6F0F8;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 1.2em;
    margin-left: -6px;
    padding: 5px;
    position: absolute;
}

.task-status-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task-status-menu a {
    display: block;
}

.task-time-entries {
    display: none;
}

.task-time-entries ul {
    margin: 0;
    padding-left: 30px;
}

.time-entry-amount {
    display: inline-block;
    width: 50px;
}

.task-add {
    border-radius: 5px;
    display: block;
    font-size: 1.4em;
}

.task-add:hover {
    background-color: #E6F0F8;
}

.task-form,
.time-entry-form {
    padding: 10px 10%;
    text-align: center;
}

.task-form input,
.task-form textarea,
.time-entry-form input,
.time-entry-form textarea {
    width: 100%;
}

.task-form-popup,
.time-entry-form-popup {
    display: none;
}
