@import 'colors';

.project {
    border: 3px solid $main-color;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
}

.project-menu {
    float: right;
    line-height: 1.68em;
}

.project-description {
    color: $secondary-color;
    margin-bottom: 5px;
}

.project-last-task {
    border-top: 2px dotted $main-color;
}

.project-add {
    display: block;
}
