@import '../common/colors';

.client {
    border: 3px solid $main-color;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
}

.client-menu {
    float: right;
    line-height: 1.68em;
}

.client-contacts {
    color: $secondary-color;
    margin-bottom: 5px;
}

.client-projects {
    border-top: 2px dotted $main-color;
}

.client-projects li {
    margin: 0 -3px;
    padding: 3px;
}

.client-add {
    display: block;
}
