@import '../colors';

.popup {
    .ngdialog-content {
        background-color: #FFF;
        bottom: auto;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        right: 0;
        top: 30%;
        width: 500px;
    }

    .ngdialog-close {
        position: absolute;
        right: 0;
        top: 0;
    }

    .ngdialog-close::before {
        background: transparent;
        border-radius: 3px;
        color: #BBB;
        font-size: 26px;
        font-weight: 400;
        height: 30px;
        line-height: 26px;
        position: absolute;
        right: 3px;
        text-align: center;
        top: 3px;
        width: 30px;
    }

    .ngdialog-close:hover::before,
    .ngdialog-close:active::before {
        color: #777;
    }

    form {
        padding: 10px 35px;
        text-align: center;
    }

    input,
    textarea {
        width: 100%;
    }
}

.alert,
.confirm {
    padding: 20px 10px;
    text-align: center;

    button {
        margin-top: 10px;
    }
}

.form-message {
    color: $error-color;
}
